[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
marshmallow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
flask-mail = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "*"
